---
Checks: >
  -*,
  readability-identifier-naming
CheckOptions:
  # types
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  # namespace
  readability-identifier-naming.NamespaceCase: lower_case
  # enums
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.ScopedEnumConstantCase: UPPER_CASE
  # functions
  readability-identifier-naming.FunctionCase: camelBack
  # struct fields
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMemberPrefix: m_
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMemberPrefix: m_
  # statics
  readability-identifier-naming.StaticVariableCase: camelBack
  readability-identifier-naming.StaticVariablePrefix: s_
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ClassMemberPrefix: s_
  # constants
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  # globals
  readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.GlobalVariablePrefix: g_